* {
    margin: 0; /* Премахва всички външни отстояния (margin) за всички елементи */
    padding: 0; /* Премахва всички вътрешни отстояния (padding) за всички елементи */
    box-sizing: border-box; /* Променя начина на изчисляване на ширината и височината на елементите, за да включва и padding и border */
}

body {
    font-family: 'Arial', sans-serif; /* Задава шрифт Arial или системен sans-serif, ако Arial не е наличен */
    line-height: 1.6; /* Определя височината на редовете за по-добро четене */
    color: #333; /* Задава цвят на текста - тъмно сив */
}

.button {
    display: inline-block; /* Бутонът ще бъде елемент, който се подрежда в редица */
    padding: 1rem 2rem; /* Вътрешни отстояния около текста на бутона */
    background-color: #ffffff; /* Бял фон за бутона */
    color: #1a1a1a; /* Черен текст за бутона */
    text-decoration: none; /* Премахва подчертаването, ако бутонът е линк */
    border-radius: 5px; /* Закръглени ъгли на бутона */
    transition: background-color 0.3s; /* Плавен преход на фона при взаимодействие */
    border: none; /* Премахва рамката около бутона */
    cursor: pointer; /* Променя курсора на ръка при преминаване върху бутона */
}

.button:hover {
    background-color: #e6c200; /* Златист фон на бутона при преминаване с мишка */
}